*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --green: #52b481;
  --red: #e5362b;
  --yellow: #feeb17;
  --pink: #e72174;
  --blue: #189cd9;
}
html {
  font-family: sans-serif;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background: black;
}

.hero {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.hero img {
  height: 15vw;
  width: auto;
  z-index: 1;
}

section {
  max-width: 80vw;
  margin: auto;
}

h1 {
  font-size: 2.5em;
  margin-top: 4em;
  color: var(--blue);
}

.subtext {
  font-size: 1.1em;
  color: #ccc;
}

.bike-banner {
  height: 60vh;
  background: url(images/bike_temp.jpg) no-repeat;
  background-position: center 80px;
  background-size: cover;
  margin-bottom: 5em;
}

#particles {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.insta-grid {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-bottom: 2rem;
}

.box {
  height: 200px;
  width: 200px;
  background: white;
  margin-right: 1rem;
  margin-top: 1rem;
}
